<?xml version="1.0"?>
<launch>
  <arg name="config" default="urdf"/>
  <param name="robot_description" textfile="$(find ros_mobile_robot)/urdf/mobile_robot.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find ros_mobile_robot)/urdf/$(arg config).rviz"/>
</launch>